.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 40px 0;
	z-index: 10;
	transition: 0.3s;
	@include respond-to(tab-port) {
		padding: 16px 0;
	}
	@include respond-to(phone) {
		&.open-menu {
			.header__nav {
				left: 0;
			}
		}
	}
	&.scroll-active {
		box-shadow: var(--box-shadow-header);
		padding: 8px 0;
		background-color: var(--black);
		svg *[fill] {
			fill: var(--white);
		}
	}
}
.header__logo {
	z-index: 2;
	transition: 0.9s;
	svg {
		[fill] {
			fill: var(--black);
			transition: 0.3s;
		}
		@include respond-to(phone) {
			width: 48px;
			height: 40px;
		}
	}
	&:hover {
		transform: rotate(360deg);
	}
}
.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__nav {
	@include respond-to(phone) {
		position: absolute;
		background-color: var(--gray-dark);
		width: 100%;
		height: 100vh;
		top: 0;
		left: 100%;
		z-index: 1;
		transition: 0.3s;
		padding: 120px 20px 20px 20px;
	}
}
.nav__list {
	display: flex;
	align-items: center;
	gap: 60px;
	@include respond-to(tab-land) {
		gap: 40px;
	}
	@include respond-to(tab-port) {
		gap: 25px;
	}
	@include respond-to(tab-port-small) {
		gap: 14px;
	}
	@include respond-to(phone) {
		flex-direction: column;
		gap: 25px;
	}
	.nav__item {
		a {
			font-size: 17px;
			position: relative;
			color: var(--white);
			background: linear-gradient(
				90deg,
				var(--gray-dark) 0%,
				var(--black) 100%
			);
			padding: 10px 20px;
			border-radius: 20px;
			text-transform: uppercase;
			font-weight: 700;
			background-size: 200% 100%;
			transition: background-position 0.4s ease-in-out, color 0.3s;
			@include respond-to(tab-land) {
				font-size: 14px;
				padding: 8px 16px;
			}
			@include respond-to(tab-port-small) {
				padding: 6px 12px;
			}
			&:hover {
				color: var(--white);
				background-position: 100% 0;
			}
		}
	}
}
///////burger////////////////////////////////////////
.burger {
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
	display: none;
	@include respond-to(phone) {
		display: block;
		z-index: 2;
		.burger-line {
			width: 14px;
			height: 2px;
			background-color: var(--white);
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 5px;
			&:after,
			&:before {
				content: '';
				position: absolute;
				top: -6px;
				left: 4px;
				width: 20px;
				height: 2px;
				background-color: var(--white);
				transition: 0.2s;
				transform: translateX(-50%);
				border-radius: 5px;
			}
			&:after {
				top: 6px;
				width: 12px;
				left: 8px;
			}
		}
	}
	&.active {
		.burger-line {
			background-color: rgba(255, 255, 255, 0);
			&::after,
			&::before {
				width: 18px;
				top: 50%;
				left: 50%;
			}
			&::after {
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&::before {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
}
