:root {
	--main-font-family: 'Raleway', sans-serif;

	--white: #ffffff;
	--black: #000000;
	--gray: #d7d7d7;
	--gray-dark: #909090;
	--blue: #0b66c3;
	--green: #35700d;
	--orange:  #d99b0a;

	--background-body: #dedede;
	--background-scrollbar-track: #fff;
	--background-scrollbar-thumb: #19191b;

	// box-shadow
	--box-shadow-header: 0px 12px 14px -9px rgba(61, 57, 61, 0.73);
}
