<footer class="footer">
	<div class="footer__container">
		<div class="footer__wrap">
			@@include('logo.html')
			<div class="intro__social">
				<a
					href="https://t.me/ko_misha"
					target="_blank"
					><img
						src="img/icon/telegram.png"
						alt="telegram icon"
				/></a>
				<a
					href="skype:live:.cid.e2eb717c28162f80?chat"
					target="_blank"
					><img
						src="img/icon/skype.png"
						alt="skype icon"
				/></a>
				<a
					href="https://www.linkedin.com/in/mykhailo-kolesnyk-a37b4a335"
					target="_blank"
					><img
						src="img/icon/linkedin.png"
						alt="linkedin icon"
				/></a>
			</div>
			<p>© 2025 Kolesnyk Mykhailo All Rights Reserved.</p>
		</div>
	</div>
</footer>

<script src="js/app.min.js"></script>
