<header class="header">
	<div class="header__container">
		<div class="header__wrap">
			<div class="header__logo">@@include('logo.html')</div>
			<nav class="header__nav nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#">About me</a>
					</li>
					<li class="nav__item">
						<a href="#service">Skills</a>
					</li>
					<li class="nav__item">
						<a href="#portfolio">Portfolio</a>
					</li>
					<li class="nav__item">
						<a
							class="btn-primary"
							href="#"
							>Contact me</a
						>
					</li>
				</ul>
			</nav>
			<div class="burger">
				<div class="burger-line"></div>
			</div>
		</div>
	</div>
</header>
