.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
.page {
	flex: 1 1 auto;
}
[class$='__title'] {
	display: inline-flex;
	padding: 20px 50px;
	letter-spacing: 10px;
	text-align: center;
	position: relative;	
	&::after {
		content: '';
		position: absolute;
		inset: -5px;
		border: 3px solid;
		border-image: linear-gradient(
				90deg,
				var(--orange),
				var(--blue),
				var(--green)
			)
			1;
	}
	@include respond-to(tab-port-small) {
		padding: 20px;
	}
}
[class$='__title-wrap'] {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
